/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2020, 9:53:47 PM
    Author     : ADMIN
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Tahoma, Geneva, san-serif;
    color: #fff;
    background-color: #000;
}
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1rem;
    background: linear-gradient(45deg, #ffcc5c 20%, rgba(0,0,0,0) 20% 50%, rgba(0,0,0,0) 50% 80%, #ffcc5c 80%);
}
input, button {
    border:none;
    outline: none;
    background: none;
}
.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.form {
    position: relative;
    width: 640px;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}
.form sign-in {
    padding: 50px 30px;
}
.form sign-up {
    padding: 20px 30px;
}
h2 {
    width: 100%;
    font-size: 40px;
    text-align: center;
}
label {
    display: block;
    width: 360px;
    margin: 10px auto 0;
    text-align: center;
}
label span {
    font-size: 14px;
    font-weight: 600;
    color: #505f75;
    text-transform: uppercase;
}
input {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
}

button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    background: -webkit-linear-gradient(left, #ffcc5c, #ffd67d);
}

.submit:hover{
    background: -webkit-linear-gradient(left, #ffd67d, #ffcc5c);
}

.forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #0c0101;
    cursor: pointer;
    text-transform: uppercase;
}

.forgot-pass:hover{
    color: #ffcc5c;
}

.social-media{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.social-media ul{
    list-style: none;
}

.social-media ul li{
    display: inline-block;
    cursor: pointer;
    margin: 25px 15px;
}

.social{
    color: #ffcc5c;
    font-size: 50px;
}

.sub-cont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}

.cont.s-signup .sub-cont{
    -webkit-transform:translate3d(-640px, 0, 0);
    transform:translate3d(-640px, 0, 0);
}

.img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img:before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-color: #ffcc5c;
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.cont.s-signup .img:before{
    -webkit-transform:translate3d(640px, 0, 0);
    transform:translate3d(640px, 0, 0);
}

.img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    -webkit-transition:-webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2{
    margin-bottom: 10px;
    font-weight: normal;
}

.img-text p{
    font-size: 14px;
    line-height: 1.5;
}

.cont.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
    transform:translateX(520px);
}

.img-text.m-in{
    -webkit-transform:translateX(-520px);
    transform:translateX(-520px);
}

.cont.s-signup .img-text.m-in{
    -webkit-transform:translateX(0);
    transform:translateX(0);
}


.sign-in{
    padding-top: 65px;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out;
}

.cont.s-signup .sign-in{
    -webkit-transition-timing-function:ease-in-out;
    transition-timing-function:ease-in-out;
    -webkit-transition-duration:1.2s;
    transition-duration:1.2s; 
    -webkit-transform:translate3d(640px, 0, 0);
    transform:translate3d(640px, 0, 0);
}

.img-btn{
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img-btn:after{
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img-btn span{
    position: absolute;
    left: 0;
    top: 0;
    border-color: #fff;
    border-radius: 30px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack:center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    -webkit-transition:-webkit-transform 1.2s;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;;
}

.img-btn span.m-in{
    -webkit-transform:translateY(-72px);
    transform:translateY(-72px);
}

.cont.s-signup .img-btn span.m-in{
    -webkit-transform:translateY(0);
    transform:translateY(0);
}

.cont.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
    transform:translateY(72px);
}

.sign-up{
    -webkit-transform:translate3d(-900px, 0, 0);
    transform:translate3d(-900px, 0, 0);
}

.cont.s-signup .sign-up{
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}